#  ___________________ 
# | FAN   |    PIN    |
# |-------|-----------|
# | FAN0  | PA8       |
# | FAN1  | PE5       |
# | FAN2  | PD12      |
# | FAN3  | PD13      |
# | FAN4  | PD14      |
# | FAN5  | PD15      |
# | FAN6  | ALWAYS_ON |
# | FAN7  | ALWAYS_ON |
# | ______|___________|

[fan] 
pin: PG15 
max_power: 1 # adjust below 1 if you would like the max speed to be slower
off_below: 0.2 # minimum speed where the fan starts spinning - on octopus pro this is correct - will be lower maybe 0 on mellow Super 8 because of different GPIO pullup and protection resistors
cycle_time: .0005 # = 2khz - CPAP fan driver recommended range is 2-50khz

[heater_fan]
#pin:
#max_power:
#shutdown_speed:
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.
#heater: extruder
#   Name of the config section defining the heater that this fan is
#   associated with. If a comma separated list of heater names is
#   provided here, then the fan will be enabled when any of the given
#   heaters are enabled. The default is "extruder".
#heater_temp: 50.0
#   A temperature (in Celsius) that the heater must drop below before
#   the fan is disabled. The default is 50 Celsius.
#fan_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when its associated heater is enabled. The default
#   is 1.0
